<div class="container">
  <div class="row">
    <div class="col-sm-4">
      <h1><%= @list.name %></h1>

      <% if @list.get_tasks.any? %>

        <ol>
          <% @list.get_tasks.each do |task| %>
            <li><%= task.description %></li>
          <% end %>
        </ol>

      <% else %>
        <p>There are no tasks on this list!</p>
      <% end %>

    </div>
    <div class="col-sm-4">
      <form action="/list/:id/tasks" method="post">
        <div class="form-group">
          <input name="list_id" type="hidden" value="<%= @list.id %>">
          <input name="description" type="text" placeholder="Enter A Task" autofocus required>
          <button class="btn" type="submit">Add Task</button>
          <br><br>
          <a href="/" class="btn">Home</a>
        </div>
      </form>
    </div>
  </div>
</div>
